body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.message {
  min-height: 28px;
  min-width: 180px;
}

.star, .dot {
  font-size: 40pt;
  min-width: 55px;
  display: inline-block;
}

.line {
  font-size: 80pt;
  text-align: right;
  min-height: 125px;
}
.question {
  border-bottom: solid #fff 8px;
  min-width: 200px;
}

.confetti {
  left: 50%;
}

.card {
  min-width: 180px;
  padding: 20px 50px;
  border-radius: 30px;
}

.star {
  color: #e0c53d;
}

.dot {
  color: #666;
}

.card.red {
  background-color: #cd3e44;
  color: #fff;
}
.card.orange{
  background-color: #b7651e;
  color: #fff;
}
.card.yellow {
  background-color: #c4a71b;
  color: #fff;
}
.card.green {
  background-color: #0f885b;
  color: #fff;
}
.card.cyan {
  background-color: #0f8187;
  color: #fff;
}
.card.blue {
  background-color: #1176b8;
  color: #fff;
}
.card.purple {
  background-color: #5161a2;
  color: #fff;
}
.card.pink {
  background-color: #e3477c;
  color: #fff;
}
.card { transition: all .5s ease-in-out; }

.awards {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  overflow-y: scroll;
}

.award:first-child { margin-top: 80px; }
.award:last-child { margin-bottom: 80px; }
.award {
  margin-left: auto;
  margin-right: 80px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #667;
  margin-bottom: 5px;
  display: block;
}
.award { transition: all .2s ease-in-out; }
.award:hover {
  transform: scale(2.5);
}

.attribution {
  font-size: 10pt;
  position: fixed;
  bottom: 5px;
  color: #6b7288;
}

.attribution > a,
.attribution > a:visited
{
  color: #77947a;
  text-decoration: none;
}